.facebook {
  background: linear-gradient(180deg, #FF3D6A 16.41%, #FFB427 41.55%, #FFB427 54.49%, #5EBF55 86.65%);

  .container {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
  }

  &__container, &__container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 110px;
    line-height: 90px;
    color: #ffe8a9;
  }

  &__sub-title{
    margin-top: 0;
    font-size: 60px;
    line-height: 65px;
    color: #FF3D6A;
  }

  &__text{
    font-size: 24px;
    line-height: 30px;
  }

  &__email{
    margin-bottom: 0;
    color: rgba(75, 165, 195, 0.98);
  }

  &__password{
    color: rgba(195, 125, 139, 0.98);
  }

  &__img-item{
    max-width: 100%;
    height: auto;
    vertical-align: center;
  }



}